# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
# from google.colab import drive
# drive.mount('/mntDrive')

In [2]:
#CodeSection2
import pandas as pd

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [ ]:
#/mntDrive/MyDrive/Project MasterMind/1 - Planning Stage/2- Research/6- New Teaching Method/Loan Prediction (Webinar Flow)/Solution Codes/input/

In [3]:
#CodeSection3
train=pd.read_csv('input/train.csv')
test=pd.read_csv('input/test.csv')

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [4]:
#CodeSection4
train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0
3,18527,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26,0
4,21751,city_100,0.887,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2,88,1

In [7]:
#CodeSection5
train.describe(include='all')

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
count,18359.000000,18359,18359.000000,14261,18359,18017,17902,15521,18300,13580,13320,17992,18359.000000,18359.000000
unique,NaN,123,NaN,3,2,3,5,6,22,8,6,6,NaN,NaN
top,NaN,city_103,NaN,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,NaN,NaN
freq,NaN,4358,NaN,12884,13596,13659,10769,13738,3437,3120,10051,7567,NaN,NaN
mean,16729.360096,NaN,0.847140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.899014,0.132088
std,9643.749725,NaN,0.110189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.885300,0.338595
min,1.000000,NaN,0.448000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000
25%,8378.500000,NaN,0.796000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,0.000000
50%,16706.000000,NaN,0.910000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,0.000000
75%,25148.500000,NaN,0.920000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.000000,0.000000
max,33380.000000,NaN,0.949000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,336.000000,1.000000

In [8]:
#CodeSection6
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             18359 non-null  int64
 1   city                    18359 non-null  object
 2   city_development_index  18359 non-null  float64
 3   gender                  14261 non-null  object
 4   relevent_experience     18359 non-null  object
 5   enrolled_university     18017 non-null  object
 6   education_level         17902 non-null  object
 7   major_discipline        15521 non-null  object
 8   experience              18300 non-null  object
 9   company_size            13580 non-null  object
 10  company_type            13320 non-null  object
 11  last_new_job            17992 non-null  object
 12  training_hours          18359 non-null  int64
 13  target                  18359 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [9]:
#CodeSection8
test.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,16548,city_33,0.448,NaN,No relevent experience,Full time course,Graduate,STEM,<1,1000-4999,Public Sector,NaN,15
1,12036,city_28,0.939,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,94
2,11061,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,3,NaN,NaN,1,17
3,5032,city_104,0.924,Male,No relevent experience,no_enrollment,Phd,STEM,>20,50-99,Pvt Ltd,2,76
4,17599,city_77,0.830,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,<10,Pvt Ltd,2,65

In [10]:
#CodeSection9
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15021 non-null  int64
 1   city                    15021 non-null  object
 2   city_development_index  15021 non-null  float64
 3   gender                  11633 non-null  object
 4   relevent_experience     15021 non-null  object
 5   enrolled_university     14742 non-null  object
 6   education_level         14626 non-null  object
 7   major_discipline        12628 non-null  object
 8   experience              14977 non-null  object
 9   company_size            10970 non-null  object
 10  company_type            10691 non-null  object
 11  last_new_job            14717 non-null  object
 12  training_hours          15021 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.5+ MB

In [11]:
#CodeSection10
test.describe(include='all')

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
count,15021.000000,15021,15021.000000,11633,15021,14742,14626,12628,14977,10970,10691,14717,15021.000000
unique,NaN,123,NaN,3,2,3,5,6,22,8,6,6,NaN
top,NaN,city_103,NaN,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,NaN
freq,NaN,3494,NaN,10578,11102,11228,8743,11117,2713,2577,8063,6246,NaN
mean,16643.004327,NaN,0.846683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.158179
std,9626.895233,NaN,0.109709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.719211
min,6.000000,NaN,0.448000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,8316.000000,NaN,0.794000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000
50%,16664.000000,NaN,0.910000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.000000
75%,24908.000000,NaN,0.920000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.000000
max,33378.000000,NaN,0.949000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,336.000000

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [12]:
#CodeSection11
# We will use "relevent_experience" for this example
# You can select any other variable of your choice
train.groupby('relevent_experience').sum()

,enrollee_id,city_development_index,training_hours,target
relevent_experience,,,,
Has relevent experience,224798657,11574.247,899097,1594
No relevent experience,82335665,3978.388,310743,831

In [13]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
train['relevent_experience'].value_counts()

Has relevent experience    13596
No relevent experience      4763
Name: relevent_experience, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [14]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f" Probability of Has relevent experience happening: {1594/13596:0.1%}")
print(f" Probability of No Has relevent experience happening : {831/4763:0.1%}")

 Probability of Has relevent experience happening: 11.7%
 Probability of No Has relevent experience happening : 17.4%

### Observation
- People with no releventexperince are more interesting in new job
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [15]:
#CodeSection14
train['target_pred']=train['relevent_experience'].apply(lambda x: 1 if x=='No relevent experience' else 0)

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [16]:
#CodeSection15
train.groupby('relevent_experience').sum()

,enrollee_id,city_development_index,training_hours,target,target_pred
relevent_experience,,,,,
Has relevent experience,224798657,11574.247,899097,1594,0
No relevent experience,82335665,3978.388,310743,831,4763

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [17]:
#CodeSection16
from sklearn.metrics import roc_auc_score

In [18]:
#CodeSection17
y_actual=train['target']
y_pred=train['target_pred']

In [20]:
#CodeSection18
print(f" Train Accuracy : {roc_auc_score(y_actual, y_pred):0.1%}")

 Train Accuracy : 54.8%

***Q : What accuracy do you observe?***

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [21]:
#CodeSection19
test['target_pred']=test['relevent_experience'].apply(lambda x: 1 if x=='No relevent experience' else 0)

In [23]:
#CodeSection20
test.groupby('relevent_experience').sum()

,enrollee_id,city_development_index,training_hours,target_pred
relevent_experience,,,,
Has relevent experience,182609600,9444.048,725425,0
No relevent experience,67384968,3273.974,253316,3919

*Use **value_counts()** to check your prediction split*

In [24]:
#CodeSection21
test['target_pred'].value_counts()

0    11102
1     3919
Name: target_pred, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [26]:
#CodeSection22
sample_submission=pd.read_csv('input/sample_submission.csv')
sample_submission.head()

   enrollee_id  target
0        16548       0
1        12036       0
2        11061       0
3         5032       0
4        17599       0

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [27]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15021 non-null  int64
 1   city                    15021 non-null  object
 2   city_development_index  15021 non-null  float64
 3   gender                  11633 non-null  object
 4   relevent_experience     15021 non-null  object
 5   enrolled_university     14742 non-null  object
 6   education_level         14626 non-null  object
 7   major_discipline        12628 non-null  object
 8   experience              14977 non-null  object
 9   company_size            10970 non-null  object
 10  company_type            10691 non-null  object
 11  last_new_job            14717 non-null  object
 12  training_hours          15021 non-null  int64
 13  target_pred             15021 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.6+ MB

In [28]:
#CodeSection23
submission = pd.DataFrame({
    'enrollee_id' : test['enrollee_id']   ,
    'target' : test['target_pred']
})

### Export Submission File
- Export to output folder

In [29]:
#CodeSection24
# Ensure you don't export the index.
submission.to_csv('output/01_IF_THEN_HR_ANALYTICS.csv', index = False)

In [ ]:
# LB Accuracy :  0.5619311177949805