# Code 2
- Basic Imputation for Numerical and Categorial
- Logistic Model (Balanced/ Unbalanced)

## 1/ Import Libraries

In [1]:
#CodeSection1
# from google.colab import drive
# drive.mount('/mntDrive')

In [2]:
#CodeSection2
import pandas as pd

## 2/ Import Data

In [4]:
#CodeSection3
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

### Check Train Data

In [8]:
#CodeSection4
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             18359 non-null  int64
 1   city                    18359 non-null  object
 2   city_development_index  18359 non-null  float64
 3   gender                  14261 non-null  object
 4   relevent_experience     18359 non-null  object
 5   enrolled_university     18017 non-null  object
 6   education_level         17902 non-null  object
 7   major_discipline        15521 non-null  object
 8   experience              18300 non-null  object
 9   company_size            13580 non-null  object
 10  company_type            13320 non-null  object
 11  last_new_job            17992 non-null  object
 12  training_hours          18359 non-null  int64
 13  target                  18359 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

### Check Test Data

In [9]:
#CodeSection4
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15021 non-null  int64
 1   city                    15021 non-null  object
 2   city_development_index  15021 non-null  float64
 3   gender                  11633 non-null  object
 4   relevent_experience     15021 non-null  object
 5   enrolled_university     14742 non-null  object
 6   education_level         14626 non-null  object
 7   major_discipline        12628 non-null  object
 8   experience              14977 non-null  object
 9   company_size            10970 non-null  object
 10  company_type            10691 non-null  object
 11  last_new_job            14717 non-null  object
 12  training_hours          15021 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.5+ MB

### We Combine both Datasets to perform Missing Value Imputation

In [18]:
#CodeSection6
all_data = [train, test]

In [19]:
#CodeSection7
# Combine both using concat (with axis = 0) to check Missing Value
pd.concat([train,test], axis=0).isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                     7486
relevent_experience           0
enrolled_university         621
education_level             852
major_discipline           5231
experience                  103
company_size               8830
company_type               9369
last_new_job                671
training_hours                0
target                    15021
dtype: int64

In [22]:
train.describe(include='all')

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
count,18359.000000,18359,18359.000000,14261,18359,18017,17902,15521,18300,13580,13320,17992,18359.000000,18359.000000
unique,NaN,123,NaN,3,2,3,5,6,22,8,6,6,NaN,NaN
top,NaN,city_103,NaN,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,NaN,NaN
freq,NaN,4358,NaN,12884,13596,13659,10769,13738,3437,3120,10051,7567,NaN,NaN
mean,16729.360096,NaN,0.847140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.899014,0.132088
std,9643.749725,NaN,0.110189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.885300,0.338595
min,1.000000,NaN,0.448000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000
25%,8378.500000,NaN,0.796000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,0.000000
50%,16706.000000,NaN,0.910000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,0.000000
75%,25148.500000,NaN,0.920000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.000000,0.000000
max,33380.000000,NaN,0.949000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,336.000000,1.000000

In [ ]:
# Numerical= ['	training_hours',city_development_index]
# categorical = ['gender','enrolled_university','education_level','major_discipline','experience',company_size,'company_type','last_new_job','target']

## 3/ Impute Numerical Variables
- NA

## 4/ Impute Categorical Variables
- Impute all Categorical Variables

In [26]:
cat_var=['gender','enrolled_university','education_level','major_discipline','experience','company_size','company_type','last_new_job']

for var in cat_var:
    for datasets in all_data:
        datasets[var]=datasets[var].fillna(datasets[var].mode()[0])

## 5/ Now Re Check all of them

In [27]:
#CodeSection10
# Combine both to check Missing Value
pd.concat([train, test], axis = 0).isnull().sum()

enrollee_id                   0
city                          0
city_development_index        0
gender                        0
relevent_experience           0
enrolled_university           0
education_level               0
major_discipline              0
experience                    0
company_size                  0
company_type                  0
last_new_job                  0
training_hours                0
target                    15021
dtype: int64

## 6/ Prepare Data for Model Model

In [31]:
#CodeSection11

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             18359 non-null  int64
 1   city                    18359 non-null  object
 2   city_development_index  18359 non-null  float64
 3   gender                  18359 non-null  object
 4   relevent_experience     18359 non-null  object
 5   enrolled_university     18359 non-null  object
 6   education_level         18359 non-null  object
 7   major_discipline        18359 non-null  object
 8   experience              18359 non-null  object
 9   company_size            18359 non-null  object
 10  company_type            18359 non-null  object
 11  last_new_job            18359 non-null  object
 12  training_hours          18359 non-null  int64
 13  target                  18359 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [32]:
#CodeSection12
# Divide Data into X and y
X=train.drop(['enrollee_id','target'], axis=1)
y= train['target']

### Create Dummy Variables for  Categorical Variables

In [33]:
#CodeSection13
# Create Dummy Variables
X=pd.get_dummies(X)

In [34]:
#CodeSection14
# Check first 5 rows of X
X.head()

,city_development_index,training_hours,city_city_1,city_city_10,city_city_100,city_city_101,city_city_102,city_city_103,city_city_104,city_city_105,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
0,0.689,106,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,0.923,69,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.910,4,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,0.666,26,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
4,0.887,88,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

## 7/ Build Model

In [37]:
#CodeSection15
#Start by importing LogisticRegression 
from sklearn.linear_model import LogisticRegression

#Initialize LogisticRegression
clf = LogisticRegression(max_iter=5000, class_weight='balanced')

In [38]:
#CodeSection16
# Fit Model
model = clf.fit(X,y)

### Check Accuracy of Model on Train Data

In [39]:
#CodeSection17
# Predict on Train Data and check predictions
y_pred = model.predict(X)
y_pred

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

### We can use a Accuracy Function from Metrics

In [40]:
#CodeSection17
# Import accuracy_score 
from sklearn.metrics import roc_auc_score

In [41]:
#CodeSection18
# Get Actual Predictions
y_true = train['target']

In [42]:
#CodeSection19
# Compare True values versus prediction we made
print(f" Train Accuracy : {roc_auc_score(y_true, y_pred):0.1%}")

 Train Accuracy : 63.2%

## 8/ Prediction and Submission

### Predict

In [43]:
#CodeSection20
# Get X variables from the Test Dataset
X_test = test.drop(['enrollee_id'], axis=1)

In [44]:
#CodeSection21
#Covert to Dummies
X_test = pd.get_dummies(X_test)

In [45]:
#CodeSection22
# Predict (Y/N) on X Variables of Test Dataset
X_test_prep = model.predict(X_test)

### Import Sample Submission

In [46]:
#CodeSection23
sample_submission = pd.read_csv('input/sample_submission.csv')
sample_submission.head()

   enrollee_id  target
0        16548       0
1        12036       0
2        11061       0
3         5032       0
4        17599       0

### Create a Submission

In [47]:
#CodeSection24
submission = pd.DataFrame({
    'enrollee_id' : test['enrollee_id'],
    'target' : X_test_prep
})

### Export Submission File

In [48]:
#CodeSection25
submission.to_csv('output/02_LR_Basic_Impute.csv', index = False)

In [ ]:
# LB Accuracy :  0.6230038073759334